div.themes > div{
      height: 20px;
      width: 20px;
      float: left;
      cursor: pointer;
      margin-right: 5px;
      border: 1px solid #000;
}

.light{
      background-color: #fff;
      color: #000;
}
.dark{
      background-color: #000;
      color: #fff;
}
.yellow{
      background-color: #aaa257;
      color: #000;
}
.green{
      background-color: #a9f080;
      color: #000;
}