*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

.accordion div span {
    background: #eee;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}

.accordion > div:first-child > span {
    border-radius: 10px 10px 0 0;
}
.accordion > div:last-child > span {
    border-radius: 0 0 10px 10px;
}
.accordion > div.show:last-child > span {
    border-radius: 0;
    border-bottom: 0;
}
.accordion > div.show:last-child > div {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #ccc;
}

.accordion >div > span:after{
    content: "\002b";
    float: right;
    margin-right: 20px;
    border: 2px solid #636161;
    padding: 2px 5px 0px 5px;
    border-radius: 5px;
}

.accordion >div.show > span:after{
    content: "\2212";

}

.accordion >div > span:hover, 
.accordion div.show span{
    background: #ccc;
}

.accordion div div{  
    padding: 0 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.accordion div.show div {
    padding: 15px;

}

.title{
    background: #4d4949;
    color: white;
    padding: 15px;
    margin: 2rem 0 1rem 0;

}

div{
    margin: 20px auto;
    width: 85vw;
    text-align: center;
    padding-right: 0;

}
.scroll,.scroll2{
    background-image: url('./icon/reshot-icon-bold-arrow-up-XUMCA9L6S5.svg');
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: auto !important;
    opacity: 0;
    transition: opacity 0.5s;
}

.scroll2{
    background-color: green;
    left: 20px;
}

.scroll.show, .scroll2.show {
    cursor: pointer !important;
    opacity: 1;
}

.popup-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.5s;

}

.popup-wrapper.show {
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.popup{
    background: #fff;
    border: 1px solid #ddd;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    min-width: 400px;
}

.popup.show{
    opacity: 1;
    visibility: visible;
}

.popup h4,
.popup div {
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
}

.popup h4 span.popup-close::after{
    content: "\00D7";
    float: right;
    cursor: pointer;
}

.popup button.popup-close{
    float: right;
    margin: 15px 20px;
}

