.accordion div span {
    background: #eee;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}

.accordion > div:first-child > span {
    border-radius: 10px 10px 0 0;
}
.accordion > div:last-child > span {
    border-radius: 0 0 10px 10px;
}
.accordion > div.show:last-child > span {
    border-radius: 0;
    border-bottom: 0;
}
.accordion > div.show:last-child > div {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #ccc;
}

.accordion >div > span:after{
    content: "\002b";
    float: right;
    margin-right: 20px;
    border: 2px solid #636161;
    padding: 2px 5px 0px 5px;
    border-radius: 5px;
}

.accordion >div.show > span:after{
    content: "\2212";

}

.accordion >div > span:hover, 
.accordion div.show span{
    background: #ccc;
}

.accordion div div{  
    padding: 0 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.accordion div.show div {
    padding: 15px;

}

.title{
    background: #4d4949;
    color: white;
    padding: 15px;
    margin: 2rem 0 1rem 0;

}
